# Machine Learning Foundation

## Section 1, Part b: Reading Data Lab

In [1]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

## Lab Exercise: Reading in database files

 - Create a variable, `path`, containing the path to the `baseball.db` contained in `resources/`
 - Create a connection, `con`, that is connected to database at `path`
 - Create a variable, `query`, containing a SQL query which reads in all data from the `allstarfull` table
 - Create a variable, `observations`, by using pandas' [read_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html)

### Optional
 - Create a variable, `tables`, which reads in all data from the table `sqlite_master`
 - Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players.

In [4]:
path = 'baseball.db'
con = sq3.Connection(path)
query ='''
SELECT * FROM allstarfull;
'''

In [5]:
observations = pds.read_sql(query, con)
observations

,index,playerID,yearID,gameNum,gameID,teamID,lgID,GP,startingPos
0,0,gomezle01,1933,0,ALS193307060,NYA,AL,1.0,1.0
1,1,ferreri01,1933,0,ALS193307060,BOS,AL,1.0,2.0
2,2,gehrilo01,1933,0,ALS193307060,NYA,AL,1.0,3.0
3,3,gehrich01,1933,0,ALS193307060,DET,AL,1.0,4.0
4,4,dykesji01,1933,0,ALS193307060,CHA,AL,1.0,5.0
5,5,cronijo01,1933,0,ALS193307060,WS1,AL,1.0,6.0
6,6,chapmbe01,1933,0,ALS193307060,NYA,AL,1.0,7.0
7,7,simmoal01,1933,0,ALS193307060,CHA,AL,1.0,8.0
8,8,ruthba01,1933,0,ALS193307060,NYA,AL,1.0,9.0
9,9,averiea01,1933,0,ALS193307060,CLE,AL,1.0,NaN
10,10,crowdal01,1933,0,ALS193307060,WS1,AL,1.0,NaN
11,11,dickebi01,1933,0,ALS193307060,NYA,AL,0.0,NaN
12,12,ferrewe01,1933,0,ALS193307060,CLE,AL,0.0,NaN
13,13,foxxji01,1933,0,ALS193307060,PHA,AL,0.0,NaN
14,14,grovele01,1933,0,ALS193307060,PHA,AL,1.0,NaN
15,15,hildeor01,1933,0,ALS193307060,CLE,AL,0.0,NaN
16,16,lazzeto01,1933,0,ALS193307060,NYA,AL,0.0,NaN
17,17,westsa01,1933,0,ALS193307060,SLA,AL,1.0,NaN
18,18,hallabi01,1933,0,ALS193307060,SLN,NL,1.0,1.0
19,19,wilsoji01,1933,0,ALS193307060,SLN,NL,1.0,2.0
20,20,terrybi01,1933,0,ALS193307060,NY1,NL,1.0,3.0
21,21,friscfr01,1933,0,ALS193307060,SLN,NL,1.0,4.0
22,22,martipe01,1933,0,ALS193307060,SLN,NL,1.0,5.0
23,23,bartedi01,1933,0,ALS193307060,PHI,NL,1.0,6.0
24,24,hafeych01,1933,0,ALS193307060,CIN,NL,1.0,7.0
25,25,bergewa01,1933,0,ALS193307060,BSN,NL,1.0,8.0
26,26,kleinch01,1933,0,ALS193307060,PHI,NL,1.0,9.0
27,27,cuccito01,1933,0,ALS193307060,BRO,NL,1.0,NaN
28,28,engliwo01,1933,0,ALS193307060,CHN,NL,1.0,NaN
29,29,hartnga01,1933,0,ALS193307060,CHN,NL,1.0,NaN
...,...,...,...,...,...,...,...,...,...
5118,5118,cespeyo01,2016,0,ALS201607120,NYN,NL,0.0,NaN
5119,5119,colonba01,2016,0,ALS201607120,NYN,NL,0.0,NaN
5120,5120,familje01,2016,0,ALS201607120,NYN,NL,0.0,NaN
5121,5121,fernajo02,2016,0,ALS201607120,MIA,NL,1.0,NaN
5122,5122,goldspa01,2016,0,ALS201607120,ARI,NL,1.0,NaN
5123,5123,gonzaca01,2016,0,ALS201607120,COL,NL,1.0,7.0
5124,5124,harpebr03,2016,0,ALS201607120,WAS,NL,1.0,9.0
5125,5125,herreod01,2016,0,ALS201607120,PHI,NL,1.0,NaN
5126,5126,janseke01,2016,0,ALS201607120,LAN,NL,1.0,NaN
5127,5127,kershcl01,2016,0,ALS201607120,LAN,NL,0.0,NaN
5128,5128,lestejo01,2016,0,ALS201607120,CHN,NL,1.0,NaN
5129,5129,lucrojo01,2016,0,ALS201607120,MIL,NL,1.0,NaN
5130,5130,martest01,2016,0,ALS201607120,PIT,NL,1.0,NaN
5131,5131,melanma01,2016,0,ALS201607120,PIT,NL,1.0,NaN
5132,5132,murphda08,2016,0,ALS201607120,WAS,NL,1.0,NaN
5133,5133,myerswi01,2016,0,ALS201607120,SDN,NL,1.0,0.0
5134,5134,ozunama01,2016,0,ALS201607120,MIA,NL,1.0,8.0
5135,5135,pomerdr01,2016,0,ALS201607120,SDN,NL,1.0,NaN
5136,5136,poseybu01,2016,0,ALS201607120,SFN,NL,1.0,2.0
5137,5137,ramosaj01,2016,0,ALS201607120,MIA,NL,0.0,NaN
5138,5138,ramoswi01,2016,0,ALS201607120,WAS,NL,1.0,NaN
5139,5139,rizzoan01,2016,0,ALS201607120,CHN,NL,1.0,3.0
5140,5140,rodnefe01,2016,0,ALS201607120,MIA,NL,1.0,NaN
5141,5141,russead02,2016,0,ALS201607120,CHN,NL,1.0,6.0
5142,5142,scherma01,2016,0,ALS201607120,WAS,NL,1.0,NaN
5143,5143,seageco01,2016,0,ALS201607120,LAN,NL,1.0,NaN
5144,5144,strasst01,2016,0,ALS201607120,WAS,NL,0.0,NaN
5145,5145,syndeno01,2016,0,ALS201607120,NYN,NL,0.0,NaN
5146,5146,teherju01,2016,0,ALS201607120,ATL,NL,1.0,NaN
5147,5147,zobribe01,2016,0,ALS201607120,CHN,NL,1.0,4.0

In [7]:
query = '''
SELECT * FROM sqlite_master;'''
tables = pd.read_sql(query, con)
tables

,type,name,tbl_name,rootpage,sql
0,table,allstarfull,allstarfull,2,"CREATE TABLE ""allstarfull"" (\n""index"" INTEGER,..."
1,index,ix_allstarfull_index,allstarfull,3,"CREATE INDEX ""ix_allstarfull_index""ON ""allstar..."
2,table,schools,schools,26,"CREATE TABLE ""schools"" (\n""index"" INTEGER,\n ..."
3,index,ix_schools_index,schools,31,"CREATE INDEX ""ix_schools_index""ON ""schools"" (""..."
4,table,batting,batting,99,"CREATE TABLE ""batting"" (\n""index"" INTEGER,\n ..."
5,index,ix_batting_index,batting,100,"CREATE INDEX ""ix_batting_index""ON ""batting"" (""..."

In [ ]:
### BEGIN SOLUTION
# Create a variable, `path`, containing the path to the `baseball.db` contained in `resources/`
path = 'baseball.db'

# Create a connection, `con`, that is connected to database at `path`
con = sq3.Connection(path)

# Create a variable, `query`, containing a SQL query which reads in all data from the `` table

query = """
SELECT *
    FROM allstarfull
    ;
"""

allstar_observations = pd.read_sql(query, con)

print(allstar_observations)

# Create a variable, tables, which reads in all data from the table sqlite_master
all_tables = pd.read_sql('SELECT * FROM sqlite_master', con)
print(all_tables)

# Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players
best_query = """
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3
"""
best = pd.read_sql(best_query, con)
print(best.head())
### END SOLUTION

---
### Machine Learning Foundation (C) 2020 IBM Corporation